button {
    
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.sobresaliente {
    color: gold; 
    font-weight: bold;
}

.alta {
    color: green; 
    font-weight: bold;
}

.baja {
    color: red; 
    font-weight: bold;
}


table {
    width: 22%;
    border-collapse: collapse;
    text-align: center;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
}

th {
    background-color: #f4f4f4;
}